{{ define "main"}}

<!-- grid -->
<div class="container" style="max-width: 1000px;">
  <div class="row">
    <div class="col-md-7 my-3 my-md-4">
      <div class="d-flex flex-column h-100 justify-content-center align-items-sm-start">
        <h1 class="display-2">{{.Site.Params.location.title}}</h1>
        <p>{{ .Site.Params.location.description  | markdownify }}</p>
        <a
          class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder shadow-sm"
          href="{{ .Site.Params.location.buttonLink }}"
          target="_blank"
          >{{ .Site.Params.location.buttonText }}</a
        >
      </div>
    </div>
    <div class="col-md-5 my-3 gallery">
      {{ with resources.GetMatch "img/location.*" }}
      <img class="rounded shadow" src="{{ .RelPermalink }}" alt="" />
      {{ end }}
    </div>
    <div class="col-12">

    </div>
  </div>
</div>
<div class="container" style="max-width: 800px;">
  <div class="row">


    <!-- Travel Information -->
    <div class="col-12 my-3 my-md-4">
      {{ with .Site.Params.location.travel }}
      <div class="travel-info">
        <hr class="mt-0 mb-4 mx-auto w-75 border-dark-subtle">
        {{ . | markdownify }}
        <hr class="mt-4 mb-0 mx-auto w-75 border-dark-subtle">
      </div>
      {{ end }}
    </div>

    <div class="col-md-6 col-xl-6 my-3 gallery">
      {{ with resources.GetMatch "img/speedboats.*" }}
      <img class="rounded shadow" src="{{ .RelPermalink }}" alt="" />
      {{ end }}
    </div>

    <div class="col-md-6 col-xl-6 my-3 gallery">
      {{ with resources.GetMatch "img/building-1.*" }}
      <img class="rounded shadow" src="{{ .RelPermalink }}" alt="" />
      {{ end }}
    </div>

    <div class="col-12 my-3 d-none d-md-block">
      <hr class="mb-5 mx-auto w-75 border-dark-subtle">
      <anchor></anchor>
      <iframe
        class="rounded border border-3 border-light shadow"
        src="{{ .Site.Params.location.mapLink }}"
        width="100%"
        height="300px"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
<!-- end-grid -->
{{ end }}
