{{ define "main" }}
<section class="py-5 py-xl-8">
  <div class="container" style="max-width: 800px;">

    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        <div>
          <h1 class="display-2">{{.Site.Params.packages.title}}</h1>
          <p>{{ .Site.Params.packages.intro | markdownify }}</p>
        </div>
        <div>
          {{ .Site.Params.packages.description | markdownify }}
        </div>
        <div>
            <a class="btn btn-primary btn-lg px-5 py-3 fs-6 fw-bolder shadow-sm"
            href="{{ .Site.Params.packages.mainButtonRef }}"
            >{{ .Site.Params.packages.mainButton }}</a
          >
        </div>
      </div>
    </div>

    <hr class="w-50 mx-auto my-5 border-dark-subtle" />

  </div>
</section>
{{ end }}
